body {
  background-image: url('./images/background.png');
  background-size: cover;
  position: relative;
  display: flex;
  height: 2480px;
  justify-content: center;
  width: 1440px;
}

header {
  display: flex;
  justify-content: center;
}

.header {
  color: white;
  font-family: Arial , Helvetica , sans-serif;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.planetas {
  display: flex;
  justify-content: center;
}

.planetasBox {
  background: rgba(24, 26, 37, 0.5);
  height: 80px;
  border: 1px white solid;
  position: absolute;
  width: 80%;
  align-items: center;
  border-radius: 17px;
  display: flex;
  align-self: center;
  top: 140px;
  justify-content: center;
  mix-blend-mode: hard-light;
}

.planetasText {
  color: white;
  font-family: Arial , Helvetica , sans-serif;
  font-size: 40px;
}


#Mercúrio img {
  left: 130px;
  height: 31px;
  top: 416px;
  position: absolute;
  width: 41px;
}

#Mercúrio p {
  font-family: Arial , Helvetica , sans-serif;
  color: white;
  font-size: 18px;
  font-style: normal;
  left: 115px;
  font-weight: 400;
  line-height: 150%;
  height: 24px;
  top: 518px;
  position: absolute;
  width: 71px;
}

#Vênus img {
  left: 228px;
  border-radius: 17px;
  top: 393px;
  height: 76px;
  position: absolute;
  width: 102px;
}

#Vênus p {
  font-family: Arial , Helvetica , sans-serif;
  font-size: 18px;
  color: white;
  font-style: normal;
  font-weight: 400;
  left: 255px;
  line-height: 150%;
  height: 24px;
  top: 518px;
  position: absolute;
  width: 48px;
}

#Terra img {
  left: 369px;
  height: 79px;
  top: 392px;
  position: absolute;
  width: 106px;
}

#Terra p {
  color: white;
  font-family: Arial , Helvetica , sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  left: 402px;
  line-height: 150%;
  height: 24px;
  top: 518px;
  position: absolute;
  width: 41px;
}

#Marte img {
  left: 514px;
  height: 50px;
  top: 406px;
  position: absolute;
  width: 66px;
}

#Marte p {
  color: white;
  font-family: Arial , Helvetica , sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  left: 524px;
  line-height: 150%;
  height: 24px;
  top: 518px;
  position: absolute;
  width: 47px;
}

#Júpiter img {
  left: 580px;
  height: 204px;
  top: 314px;
  position: absolute;
  width: 272px;
}

#Júpiter p {
  font-family: Arial , Helvetica , sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: white;
  line-height: 150%;
  left: 690px;
  height: 24px;
  top: 518px;
  position: absolute;
  width: 52px;
}

#Saturno img {
  left: 785px;
  height: 210.9px;
  top: 310px;
  position: absolute;
  width: 282.41px;
  transform: rotate(-16.53deg);
}

#Saturno p {
  color: white;
  font-family: Arial , Helvetica , sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  left: 903px;
  line-height: 150%;
  height: 24px;
  top: 518px;
  position: absolute;
  width: 63px;
}

#Urano img {
  left: 1068px;
  height: 109px;
  top: 372px;
  position: absolute;
  width: 144px;
}

#Urano p {
  color: white;
  font-family: Arial , Helvetica , sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  left: 1116px;
  line-height: 150%;
  height: 24px;
  top: 518px;
  position: absolute;
  width: 47px;
}

#Netuno img {
  height: 107px;
  position: absolute;
  left: 1202px;
  width: 144px;
  top: 372px;
}

#Netuno p {
  color: white;
  font-family: Arial , Helvetica , sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  left: 1245px;
  line-height: 150%;
  height: 24px;
  top: 518px;
  position: absolute;
  width: 58px;
}

.missoes {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.missoesBox {
  position: absolute;
  background: rgba(24, 26, 37, 0.5);
  border: 1px white solid;
  height: 80px;
  align-items: center;
  border-radius: 17px;
  width: 80%;
  display: flex;
  align-self: center;
  top: 650px;
  justify-content: center;
  mix-blend-mode: hard-light;
}

.missoesText {
  color: white;
  font-family: Arial , Helvetica , sans-serif;
  font-size: 40px;
}

.missionCard {
  background: rgba(24, 26, 37, 0.5);
  border: 1px solid white;
  height: 281px;
  border-radius: 17px;
  width: 354px;
  box-sizing: border-box;
  mix-blend-mode: hard-light;
  margin-bottom: 30px;
}

.missionCard p {
  color: white;
  font-family: Arial , Helvetica , sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-left: 10px;
  text-align: justify;
}

#missionName {
  font-size: 28px;
  font-weight: 700;
}

.cards {
  display: flex;
  left: 140px;
  position: absolute;
  align-items: baseline;
  top: 800px;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}
